/* You can add global styles to this file, and also import other style files */

/*Global styles*/
* {
  margin: 0;
  padding: 0;
  color: black;
}
body {
  /*height: 100%;*/
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/img/bg_forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
html, body { height: 100vh; }

/*Home style */
.homeGrid {
  height: 90%;
  display: grid;
  align-items: center;
  padding: 3%;
  grid-gap: 1%;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
  "homeBan homeBan"
  "logIn register"
  "userList userList";
}
.homeBan {
  grid-area: homeBan;
  justify-content: center;
}
.logIn {
  grid-area: logIn;
  justify-content: center;
}
.register {
  grid-area: register;
  justify-content: center;
}
.userList {
  grid-area: userList;
  justify-content: center;
}
